<h1>Listing homework_deliveries</h1>

<table>
  <thead>
    <tr>
      <th>File path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homework_deliveries.each do |homework_delivery| %>
      <tr>
        <td><%= homework_delivery.file_path %></td>
        <td><%= link_to 'Show', homework_delivery %></td>
        <td><%= link_to 'Edit', edit_homework_delivery_path(homework_delivery) %></td>
        <td><%= link_to 'Destroy', homework_delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework delivery', new_homework_delivery_path %>
