<%= form_for([@course, @homework], html: { class: 'form-horizontal' }) do |f| %>
<fieldset>
<% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="form-group">
   <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-file-text-o bigicon"></i></span>
       <div class="col-md-8">
         <%= f.text_field :titulo, autofocus: true, id: "titulo", placeholder: "Titulo", class: "form-control"%>          </div>
</div>
  
 
<div class="form-group">
   <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-edit bigicon"></i></span>
       <div class="col-md-8">
         <%= f.text_area :descripcion, id: "descripcion", placeholder: "Descripcion", class: "form-control"%>          </div>
</div> 
  
 <div class="form-group">
   <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar bigicon"></i></span>
       <div class="col-md-8">
         <%= f.label :fecha_asignacion %>:
         <%= f.datetime_select :fecha_asignacion, id: "fecha_asignacion", placeholder: "Fecha asignacion", class: "form-control"%>         
      </div>
</div>
  
  <div class="form-group">
   <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar bigicon"></i></span>
       <div class="col-md-8">
         <%= f.label :fecha_entrega %>:
         <%= f.datetime_select :fecha_entrega, id: "fecha_entrega", placeholder: "Fecha de entrega", class: "form-control"%>         
      </div>
</div>
  
    <div class="form-group">
   <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-check-square bigicon"></i></span>
       <div class="col-md-8">
         <%= f.text_field :nota, id: "puntos", placeholder: "Puntos", class: "form-control"%>         
      </div>
</div>
  <br>
   <div class="col-md-2 col-md-offset-5 actions" >
     <%= f.submit "Crear tarea", class:"btn btn-lg btn-success" %>
       
      </div> 
</fieldset>
<% end %>
