<div class="jumbotron">
 <h1 aling="center">Anuncios</h1>
  <br>
  <%= link_to "Crear anuncio", new_course_announcement_path(course), class: "btn btn-success"%>
 <br><br>
  
  <% teacher = Teacher.where(user_id: current_user.id).first %>
  <% student = Student.where(user_id: current_user.id).first %>
  
  <% course.announcements.each do |announcement|%>
     <div class="well well-lg">
       <strong>
       <% if teacher != nil %>
         <%= "#{teacher.primer_nombre} #{teacher.primer_apellido}" %>
       <% else %>
         <%= "#{student.primer_nombre} #{student.primer_apellido}" %>
       <% end %>
         </strong>
       a las <%= announcement.created_at %>
       <br>
       <%= announcement.texto%>   
  </div>  
  <% end %>

</div> 

<style>
    .header {
        color:#36A0FF;
        font-size:27px;
        padding:10px;
    }
    .bigicon {
        font-size:35px;
        color:#36A0FF;
    }
</style>