<div class="jumbotron">
 <h1 aling="center">Anuncios</h1>
  <br>
  <%= link_to "Crear anuncio", new_course_announcement_path(course), class: "btn btn-success"%>
 <br><br>
  
  <% teacher = Teacher.where(user_id: current_user.id).first %>
  <% student = Student.where(user_id: current_user.id).first %>
  
  <% course.announcements.each do |announcement|%>
     <div class="well well-lg">
       <strong>
       <% if teacher != nil %>
         <%= "#{teacher.primer_nombre} #{teacher.primer_apellido}" %>
       <% else %>
         <%= "#{student.primer_nombre} #{student.primer_apellido}" %>
       <% end %>
         </strong>
       a las <%= announcement.created_at %>
       <br>
       <%= announcement.texto%><br>
       <%= render partial: "comments/form", locals:{course: course, announcement: announcement, comment: Comment.new}%>
          <ul class="media-list">
       <% announcement.comments.each do |comment| %>
            <% teacher = Teacher.where(user_id: comment.user_id).first %>
            <% student = Student.where(user_id: comment.user_id).first %>
          <li class="media">
               <div class="media-body">
                 <h4 class="media-heading">
                 <strong>
           <% if teacher != nil %>
             <%= "#{teacher.primer_nombre} #{teacher.primer_apellido}" %>
           <% else %>
             <%= "#{student.primer_nombre} #{student.primer_apellido}" %>
           <% end %>
         </strong>
                   a las <%= comment.created_at %>
       
                 </h4>
                 <%= comment.texto %>
                </div>
  
            </li>
       <% end %>
         </ul>   
     
  </div>  
  <% end %>

</div> 

<style>
    .header {
        color:#36A0FF;
        font-size:27px;
        padding:10px;
    }
    .bigicon {
        font-size:35px;
        color:#36A0FF;
    }
</style>