

<%= form_for([@course,@homework], html: { class: 'form-horizontal' }) do |f| %>
<fieldset>
       <div class="form-group">              
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-book bigicon"></i></span>              
              <div class="col-md-8">
                <%= f.text_field :nombre, autofocus: true, id: "nombre", placeholder: "Nombre", class: "form-control"%>
              </div>
        </div>
  <div class="form-group">              
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-puzzle-piece bigicon"></i></span>              
              <div class="col-md-8">
                <%= f.text_field :codigo, id: "codigo", placeholder: "Codigo", class: "form-control"%>
              </div>
        </div>
        <div class="form-group">              
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar-o bigicon"></i></span>              
              <div class="col-md-8">
                <%= f.number_field :trimestre, id: "trimestre", placeholder: "Trimestre", class: "form-control"%>
              </div>
        </div>
       <div class="form-group">              
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-calendar bigicon"></i></span>              
              <div class="col-md-8">
                <%= f.date_select :ano, id: "ano", placeholder: "Año", class: "form-control"%>
              </div>
        </div>
     
   <br>
     <div class="col-md-2 col-md-offset-5 actions" >
       <%= f.submit "Crear clase", class:"btn btn-lg btn-success" %>
       </div> 
</fieldset>
<% end %>
