<!DOCTYPE html>
<html>
<head>
  <title>Plataforma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top nav-black">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag("Imagen6.png", size: "55x55", id: 'brand-logo') %>
      <%= link_to 'Temporal', root_path, class: 'navbar-brand' %>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-id">
    
       <ul class="nav navbar-nav">
        <li><a><spam  class="glyphicon glyphicon-home"></spam> INICIO</a></li>
         <% if user_signed_in? %>
           <% if Teacher.where(user_id: current_user.id).first != nil %>
                <li>  
               <%= link_to teachers_path do %>
               <i class="fa fa-book"></i> CLASES
                  <% end %>
           <% elsif Student.where(user_id: current_user.id).first != nil %>
                     <li>  
                       <%= link_to students_path do %>
                       <i class="fa fa-book"></i> CLASES
                          <% end %>
                    </li>
           <% end %>
         <% end %>
      </ul>
      
      <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
           <% if Teacher.where(user_id: current_user.id).first != nil %>
              <li>  
               <%= link_to new_course_path do %>
                    <i class="fa fa-plus"></i>
               <% end %>
           <% elsif Student.where(user_id: current_user.id).first != nil %>
                <li>  
                   <%= link_to search_course_path do %>
                      <i class="fa fa-plus"></i>
                   <% end %>
                     
            </li>
           <% end %>
         <% end %>
        <% unless user_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><spam  class="glyphicon glyphicon-user"></spam> Entra</a>
          <div class="dropdown-menu pull-right" id="sign_in_form">
            <%= form_for(:user, url: session_path(:user), html: { class: 'form-horizontal' }) do |f| %>
            <div class="input-group row">
              <span class="input-group-addon">@</span>
              <%= f.text_field :email, class: 'form-control', placeholder: 'Correo' %>    
            </div>
            
            <div class="input-group row">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña' %>    
            </div>
          
            <div class="btn-group row">
              <%= f.submit 'Entrar', class: 'btn btn-primary' %> 
              <%= link_to "¿Has olvidado tu contraseña?", new_password_path(:user), class: 'btn btn-danger' %>
            </div>
            <% end %>
          </div>  
        </li>
        <li class="divider-vertical"></li>
        <li>
        <%= link_to  new_user_registration_path do %>
       <span class="glyphicon glyphicon-pencil"> Regístrate</span>
      <% end %>
        </li>
          <% else %>
          <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
          <% end %>
      </ul>
    </div>
    
  </div>  
</nav>
  <%= yield %>
</body>
</html>
